<h1><%= t(:edit_beverage) %></h1>

<%= render 'layouts/error_list', model: @beverage %>

<%= form_with model: @beverage , url: establishment_beverage_path(@beverage)  do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>
    <div>
        <%= f.label :calorie %>
        <%= f.text_field :calorie %>
    </div>
    <div>
        <%= f.label :picture %>
        <%= f.file_field :picture %>
    </div>
    <div>
        <%= f.label :alcoholic %>
        <%= f.check_box :alcoholic %>
    </div>

    <%= f.submit t(:save) %>
<% end %>