<%= link_to t(:register_beverage), new_establishment_beverage_path %>

<% @beverages.each do |beverage| %>
    <div>
        <%= image_tag(url_for(beverage.picture), alt: 'Foto da bebida', width: 200, height: 200) if beverage.picture.attached? %>
        <p><%= t('activerecord.attributes.beverage.name')%>: <%= link_to beverage.name, establishment_beverage_path(establishment_id: beverage.establishment.id, id: beverage.id) %> </p>
        <p><%= t('activerecord.attributes.beverage.description')%>: <%= beverage.description %> </p>
    </div>
<% end %>
