<h1><%= t(:beverages) %></h1>

<%= link_to t(:register_beverage), new_establishment_beverage_path %>

<div class="container_product">
    <% @beverages.each do |beverage| %>
        <div class="container_item">
            <%= image_tag(url_for(beverage.picture), alt: 'Foto da bebida', width: 200, height: 200) if beverage.picture.attached? %>
            <p><strong><%= Beverage.human_attribute_name(:name) %>:</strong> <%= beverage.name %></p>
            <p><strong><%= Beverage.human_attribute_name(:description) %>:</strong> <%= beverage.description %></p>
            <p><strong><%= t(:status) %>:</strong> <%= beverage.translated_status %></p>
            <%= link_to t(:see_details), establishment_beverage_path(beverage) %>
        </div>
    <% end %>
</div>
