<div>
    <div>
        <%= link_to t(:edit), edit_establishment_beverage_path(@beverage) %>
        <%= button_to t(:delete), establishment_beverage_path(@beverage), method: :delete %>
    </div>

    <%= image_tag(url_for(@beverage.picture), alt: 'Foto da bebida', width: 200, height: 200) if @beverage.picture.attached? %>
    <p><%= Beverage.human_attribute_name(:name) %>: <%= @beverage.name %></p>
    <p><%= Beverage.human_attribute_name(:description) %>: <%= @beverage.description %></p>
    <p><%= Beverage.human_attribute_name(:calorie) %>: <%= @beverage.calorie %></p>
    <p><%= Beverage.human_attribute_name(:alcoholic) %>: <%= @beverage.alcoholic ? t(:affirmation) : t(:negation) %></p>
    <div>
        <p><%= t(:status) %>: <%= @beverage.translated_status %></p>

        <% if @beverage.active?%>
            <%= button_to 'Desativar', status_establishment_beverage_path(@beverage) %>
        <% else %>
            <%= button_to 'Ativar', status_establishment_beverage_path(@beverage) %>
        <% end %>
    </div>

</div>

<section>
    <div>
        <h3><%= t(:portions) %></h3>
        <%= link_to t(:register_portion), new_establishment_beverage_portion_path(@beverage) %>
    </div>
    <table class="hitorical_table">
        <thead>
            <tr>
                <th><%= t(:description) %></th>
                <th><%= t(:price) %></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @portions.each do |p| %>
                <tr>
                    <td><%= p.description %></td>
                    <td><%= number_to_currency(p.price) %></td>
                    <td><%= link_to t(:edit),  edit_establishment_beverage_portion_path(@beverage, p) %></td>
                    <% if p.historicals.any?%>
                        <td><%= link_to t(:view_historical),  establishment_beverage_portion_historicals_path(@beverage, p)%></td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
</section>