<div>
    <%= image_tag(url_for(@beverage.picture), alt: 'Foto da bebida', width: 200, height: 200) if @beverage.picture.attached? %>
    <p><%= @beverage.translated_name %>: <%= @beverage.name %></p>
    <p><%= @beverage.translated_description %>: <%= @beverage.description %></p>
    <p><%= @beverage.translated_calorie %>: <%= @beverage.calorie %></p>
    <p><%= @beverage.translated_calorie %>: <%= @beverage.calorie %></p>
    <div>
        <p><%= t(:status) %>: <%= @beverage.translated_status %></p>

        <% if @beverage.active?%>
            <%= button_to 'Desativar', status_establishment_beverage_path(@beverage.establishment.id, @beverage.id) %>
        <% else %>
            <%= button_to 'Ativar', status_establishment_beverage_path(@beverage.establishment.id, @beverage.id) %>
        <% end %>
    </div>

    <div>
        <%= link_to t(:edit), edit_establishment_beverage_path(establishment_id: @beverage.establishment.id, id: @beverage.id) %>
        <%= button_to t(:delete), establishment_beverage_path(establishment_id: @beverage.establishment.id, id: @beverage.id), method: :delete %>
    </div>
</div>