<% if !current_user.current_order.nil? %>
    <p>Pedido Atual: <%= current_user.current_order.name%></p>
<% end %>

<nav>
    <%= link_to t(:create_new_order), new_establishment_order_path(current_user.establishment) %>
</nav>

<h1><%= @menu.name %></h1>

<div>
    <h2><%t(:dishes)%></h2>
    <dl>
        <% @menu.dishes.active.each do |item| %>
            <dt><%= item.name %></dt>
            <% if item.portions.any? %>
                <% item.portions.each do |portion| %>
                    <dd>
                        <p><%= t(:description) %>:<%= portion.description %></p>
                        <p><%= t(:price) %>:<%= portion.price %></p>
                    </dd>
                <% end %>
            <% else %>
                <dd><%= t(:dont_have_portions) %></dd>
            <% end %>
        <% end %>
    </dl>
</div>
<div>
    <h2><%t(:beverages)%></h2>
    <dl>
        <% @menu.beverages.active.each do |item| %>
            <dt><%= item.name %></dt>
            <% item.portions.each do |portion| %>
                <dd>
                    <p><%= t(:description) %>:<%= portion.description %></p>
                    <p><%= t(:price) %>:<%= portion.price %></p>
                </dd>
            <% end %>
        <% end %>
    </dl>
</div>