<h1><%= @menu.name %></h1>

<nav class="menu_nav">
    <%= link_to t(:create_new_order), new_establishment_order_path %>
    <%= link_to t(:continue_with_open_order), continue_order_establishment_path %>
</nav>


<% if @menu.dishes.active.any?%>
    <div>
        <h2><%= t(:dishes) %></h2>
        <div class="container_product">
            <% @menu.dishes.active.each do |item| %>
                    <% if item.portions.any? %>
                        <% item.portions.each do |portion| %>
                            <div class="container_item">
                                <h3><%= item.name %></h3>

                                <div id="<%= dom_id(item) %>">
                                    <p><strong><%= t(:description) %>: </strong><%= portion.description %></p>
                                    <p><strong><%= t(:price) %>: </strong><%= number_to_currency(portion.price) %></p>
                                    <% if !current_order.nil?%>
                                        <%= link_to t(:add_order),  new_establishment_menu_order_item_path(@menu, portion_id: portion.id)%>
                                    <% else %>
                                        <%= link_to t(:add_order),  new_establishment_order_path%>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                    <% else %>
                        <div class="container_item">
                            <h3><%= item.name %></h3>
                            <p><%= t(:dont_have_portions) %></p>
                        </div>
                    <% end %>
            <% end %>
        </div>
    </div>
<% end %>

<% if @menu.beverages.active.any? %>
    <div>
        <h2><%= t(:beverages) %></h2>
        <div class="container_product">
            <% @menu.beverages.active.each do |item| %>
                <div class="container_item">
                    <h3><%= item.name %></h3>
                    <% item.portions.each do |portion| %>
                        <div id="<%= dom_id(item) %>">
                            <p><strong><%= t(:description) %>: </strong><%= portion.description %></p>
                            <p><strong><%= t(:price) %>: </strong><%= number_to_currency(portion.price) %></p>
                            <% if !current_order.nil?%>
                                <%= link_to t(:add_order),  new_establishment_menu_order_item_path(@menu, portion_id: portion.id)%>
                            <% else %>
                                <%= link_to t(:add_order),  new_establishment_order_path%>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
<% end %>

<% if !@menu.dishes.active.any? && !@menu.beverages.active.any? %>
    <p><%= t(:no_products_in_this_menu) %><p>
<% end %>