<h1><%= t(:register_opening_hour)%> </h1>

<%= form_with url: establishment_opening_hours_path do |f| %>
    <div class="business_days">
        <h2><%= t(:business_days) %></h2>
        <div>
            <%= f.label :opening_business_hour, t(:open_hour) %>
            <%= f.time_field :opening_business_hour, name: 'opening_hour[business_day][open_hour]', required: true %>
        </div>
        <div>
            <%= f.label :closing_business_hour, t(:close_hour) %>
            <%= f.time_field :closing_business_hour, name: 'opening_hour[business_day][close_hour]', required: true %>
        </div>
        <div>
            <%= f.label :closed, t(:closed) %>
            <%= f.check_box :closed, name: 'opening_hour[business_day][closed]' %>
        </div>
    </div>
    <div>
        <%= f.label :check_separate_days, t(:config_separate_days)%>
        <%= f.check_box :check_separate_days %>
    </div>
    <div class="separate_days">
        <div class="monday">
            <h2><%= t(:monday) %></h2>
            <div>
                <%= f.label :monday_opening_hour, t(:open_hour) %>
                <%= f.time_field :monday_opening_hour, name: 'opening_hour[separate_days][monday][open_hour]', required: true %>
            </div>
            <div>
                <%= f.label :monday_closing_hour, t(:close_hour) %>
                <%= f.time_field :monday_closing_hour, name: 'opening_hour[separate_days][monday][close_hour]', required: true %>
            </div>
            <div>
                <%= f.label :closed_on_monday, t(:closed)%>
                <%= f.check_box :closed_on_monday, name: 'opening_hour[separate_days][monday][closed]' %>
            </div>
        </div>
        <div class="tuesday">
            <h2><%= t(:tuesday) %></h2>
            <div>
                <%= f.label :tuesday_opening_hour, t(:open_hour) %>
                <%= f.time_field :tuesday_opening_hour, name: 'opening_hour[separate_days][tuesday][open_hour]', required: true %>
            </div>
            <div>
                <%= f.label :tuesday_closing_hour, t(:close_hour) %>
                <%= f.time_field :tuesday_closing_hour, name: 'opening_hour[separate_days][tuesday][close_hour]', required: true %>
            </div>
            <div>
                <%= f.label :closed_on_tuesday, t(:closed)%>
                <%= f.check_box :closed_on_tuesday, name: 'opening_hour[separate_days][tuesday][closed]' %>
            </div>
        </div>
        <div class="wednesday">
            <h2><%= t(:wednesday) %></h2>
            <div>
                <%= f.label :wednesday_opening_hour, t(:open_hour) %>
                <%= f.time_field :wednesday_opening_hour, name: 'opening_hour[separate_days][wednesday][open_hour]', required: true %>
            </div>
            <div>
                <%= f.label :wednesday_closing_hour, t(:close_hour) %>
                <%= f.time_field :wednesday_closing_hour, name: 'opening_hour[separate_days][wednesday][close_hour]', required: true %>
            </div>
            <div>
                <%= f.label :closed_on_wednesday, t(:closed)%>
                <%= f.check_box :closed_on_wednesday, name: 'opening_hour[separate_days][wednesday][closed]' %>
            </div>
        </div>
        <div class="thursday">
            <h2><%= t(:thursday) %></h2>
            <div>
                <%= f.label :thursday_opening_hour, t(:open_hour) %>
                <%= f.time_field :thursday_opening_hour, name: 'opening_hour[separate_days][thursday][open_hour]', required: true %>
            </div>
            <div>
                <%= f.label :thursday_closing_hour, t(:close_hour) %>
                <%= f.time_field :thursday_closing_hour, name: 'opening_hour[separate_days][thursday][close_hour]', required: true %>
            </div>
            <div>
                <%= f.label :closed_on_thursday, t(:closed)%>
                <%= f.check_box :closed_on_thursday, name: 'opening_hour[separate_days][thursday][closed]' %>
            </div>
        </div>
        <div class="friday">
            <h2><%= t(:friday) %></h2>
            <div>
                <%= f.label :friday_opening_hour, t(:open_hour) %>
                <%= f.time_field :friday_opening_hour, name: 'opening_hour[separate_days][friday][open_hour]', required: true %>
            </div>
            <div>
                <%= f.label :friday_closing_hour, t(:close_hour) %>
                <%= f.time_field :friday_closing_hour, name: 'opening_hour[separate_days][friday][close_hour]', required: true %>
            </div>
            <div>
                <%= f.label :closed_on_friday, t(:closed)%>
                <%= f.check_box :closed_on_friday, name: 'opening_hour[separate_days][friday][closed]' %>
            </div>
        </div>
    </div>

    <div class="saturday">
        <h2><%= t(:saturday) %></h2>
        <div>
            <%= f.label :saturday_opening_time, t(:open_hour) %>
            <%= f.time_field :saturday_opening_time, name: 'opening_hour[saturday][open_hour]', required: true %>
        </div>
        <div>
            <%= f.label :saturday_closing_time, t(:close_hour) %>
            <%= f.time_field :saturday_closing_time, name: 'opening_hour[saturday][close_hour]', required: true %>
        </div>

        <div>
            <%= f.label :closed_on_saturday, t(:closed)%>
            <%= f.check_box :closed_on_saturday, name: 'opening_hour[saturday][closed]' %>
        </div>
    </div>

    <div class="sunday">
        <h2><%= t(:sunday)%></h2>
        <div>
            <%= f.label :sunday_opening_time, t(:open_hour) %>
            <%= f.time_field :sunday_opening_time, name: 'opening_hour[sunday][open_hour]', required: true %>
        </div>
        <div>
            <%= f.label :sunday_closing_time, t(:close_hour) %>
            <%= f.time_field :sunday_closing_time, name: 'opening_hour[sunday][close_hour]', required: true %>
        </div>

        <div>
            <%= f.label :closed_on_sunday, t(:closed)%>
            <%= f.check_box :closed_on_sunday, name: 'opening_hour[sunday][closed]' %>
        </div>
    </div>
    <%= f.submit t(:save) %>
<% end %>


<script>
    document.addEventListener("DOMContentLoaded", () => {

        const checkBoxSepareteDays = document.getElementById("check_separate_days");
        const divSeparateDays = document.querySelector(".separate_days");
        const divBusinessDays = document.querySelector(".business_days");
        const inputsSepareteDays = divSeparateDays.querySelectorAll("input");
        const inputsBusinessDay = divBusinessDays.querySelectorAll("input");
        const checkBoxFechado = document.querySelectorAll("input[type=checkbox]:not(#check_separate_days)");
        
        divSeparateDays.style.display = "none";
        inputsSepareteDays.forEach(element => {
            element.disabled = true;
        });

        checkBoxFechado.forEach(element =>{
            const divContainer = element.parentElement.parentElement;
            const InputsDates = divContainer.querySelectorAll("input[type=time]")

            element.addEventListener('click', (event) =>{
                if(event.target.checked){
                    InputsDates.forEach(element => {
                        element.disabled = true;
                    });
                }else{
                    InputsDates.forEach(element => {
                        element.disabled = false;
                    });
                }
            })
        })

        checkBoxSepareteDays.addEventListener("click", () => {
            if (checkBoxSepareteDays.checked) {
                divSeparateDays.style.display = "block";
                divBusinessDays.style.display = "none";

                inputsSepareteDays.forEach(element => {
                    const divContainer = element.parentElement.parentElement;
                    const checkBox = divContainer.querySelector("input[type=checkbox]")
                    
                    if (checkBox.checked && element.type != 'checkbox'){
                        element.disabled = true;
                    }else{
                        element.disabled = false;
                    } 
                });

                inputsBusinessDay.forEach(element => {
                    element.disabled = true;
                });
            } else {
                divSeparateDays.style.display = "none";
                divBusinessDays.style.display = "block";

                inputsSepareteDays.forEach(element => {
                    element.disabled = true;
                });

                inputsBusinessDay.forEach(element => {
                    const divContainer = element.parentElement.parentElement;
                    const checkBox = divContainer.querySelector("input[type=checkbox]")
                    
                    if (checkBox.checked && element.type != 'checkbox'){
                        element.disabled = true;
                    }else{
                        element.disabled = false;
                    }
                });
            }
        });
    });
</script>