<h1><%= t(:employees)%></h1>

<%= link_to t(:register_new_employee), new_establishment_employee_path %>

<div>
    <h2><%= t(:pre_registration_employees)%></h2>

   <div class="container_product">
        <% @employees_pre_register.each do |employee| %>
            <div class="container_item">
                <p><strong><%= Employee.human_attribute_name(:email) %>:</strong> <%= employee.email %></p>
                <p><strong><%= Employee.human_attribute_name(:cpf) %>:</strong> <%= employee.cpf %></p>
            </div>
        <% end %>
   </div>
</div>

<div>
    <h2><%= t(:complete_registration_employees)%></h2>
    <div class="container_product">
        <% @employees_complete_register.each do |employee| %>
            <div class="container_item">
                <p><strong><%= Employee.human_attribute_name(:name) %>:</strong> <%= employee.name %></p>
                <p><strong><%= Employee.human_attribute_name(:cpf) %>:</strong> <%= employee.cpf %></p>
            </div>
        <% end %>
    </div>
</div>