<h1><%= t(:register_new_employee)%></h1>

<%= render 'layouts/error_list', model: @employee %>

<%= form_with model: @employee, url: establishment_employees_path do |f| %>
    <div>
        <%= f.label :cpf %>
        <%= f.number_field :cpf %>
    </div>
    <div>
        <%= f.label :email %>
        <%= f.email_field :email %>
    </div>
    <%= f.submit t(:save) %>
<% end %>