<h1><%= t(:create_order) %></h1>

<% if @order.errors.any? %>
<p>Verifique os erros abaixo:</p>

<ul>
    <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
</ul>

<% end %>

<%= form_with model: [current_establishment, @order] do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :cpf %>
        <%= f.number_field :cpf %>
    </div>
    <div>
        <%= f.label :phone_number %>
        <%= f.number_field :phone_number %>
    </div>
    <div>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>
    
    <%= f.hidden_field :previous_url, value: @previous_url %>

    <%= f.submit t(:create_order) %>
<% end %>