<h1><%= t(:edit_dish) %></h1>

<%= render 'layouts/error_list', model: @dish %>

<%= form_with model: @dish , url: establishment_dish_path  do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>
    <div>
        <%= f.label :calorie %>
        <%= f.text_field :calorie %>
    </div>
    <div>
        <%= f.label :picture %>
        <%= f.file_field :picture %>
    </div>
    <% if @markers %>
        <div>
            <%= f.label :marker_select, t(:marker) %>
            <%= f.collection_select :marker_select, @markers, :id, :description, { include_blank: "Selecione um marcador" } %>
        </div>
    <% end %> 
    <div>
        <%= f.label :marker_create, t(:create_marker) %>
        <%= f.text_field :marker_create%>
        <p>Caso não for criar, deixe em branco</p>
    </div>  
     
    <%= f.submit t(:save) %>
<% end %>