<%= form_with model: @dish , url:establishment_dish_path(@dish.establishment.id)  do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>
    <div>
        <%= f.label :calorie %>
        <%= f.text_field :calorie %>
    </div>
    <div>
        <%= f.label :picture %>
        <%= f.file_field :picture %>
    </div>

    <%= f.submit t(:save) %>
<% end %>