<%= form_with url: filter_establishment_dishes_path, method: :get do |f| %>
    <div>
        <%= f.label :marker, t(:filter_by_marker) %>
        <%= f.collection_select :marker, @markers, :id, :description %>
    </div>
    <%= f.submit t(:filter) %>
<% end %>   

<% @dishes.each do |dish| %>
    <div>
        <%= image_tag(url_for(dish.picture), alt: 'Foto do prato', width: 200, height: 200) if dish.picture.attached? %>
        <p><%= dish.translated_name %>: <%= link_to dish.name, establishment_dish_path(establishment_id: dish.establishment.id, id: dish.id) %></p>
        <p><%= dish.translated_description %>: <%= dish.description %></p>
        <p><%= t(:status) %>: <%= dish.translated_status %></p>
        <% if !dish.marker.nil? %>
            <p><%= dish.marker.description %></p>
        <% end %>
    </div>
<% end %>