<%= link_to t(:register_dish), new_establishment_dish_path %>

<% @dishes.each do |dish| %>
    <div>
        <%= image_tag(url_for(dish.picture), alt: 'Foto do prato', width: 200, height: 200) if dish.picture.attached? %>
        <p><%= t('activerecord.attributes.dish.name')%>: <%= link_to dish.name, establishment_dish_path(establishment_id: dish.establishment.id, id: dish.id) %> </p>
        <p><%= t('activerecord.attributes.dish.description')%>: <%= dish.description %> </p>
    </div>
<% end %>
