<%= link_to t(:register_dish), new_establishment_dish_path %>
<%= link_to t(:register_marker), new_establishment_marker_path %>

<%= form_with url: filter_establishment_dishes_path, method: :get do |f| %>
    <div>
        <%= f.label :marker, t(:filter_by_marker) %>
        <%= f.collection_select :marker, @markers, :id, :description %>
    </div>
    <%= f.submit t(:filter) %>
<% end %>   

<% @dishes.each do |dish| %>
    <div>
        <%= image_tag(url_for(dish.picture), alt: 'Foto do prato', width: 200, height: 200) if dish.picture.attached? %>
        <p><%= Dish.human_attribute_name(:name) %>: <%= link_to dish.name, establishment_dish_path(dish) %></p>
        <p><%= Dish.human_attribute_name(:description) %>: <%= dish.description %></p>
        <p><%= t(:status) %>: <%= dish.translated_status %></p>
        <% if !dish.marker.nil? %>
            <p><%= dish.marker.description %></p>
        <% end %>
    </div>
<% end %>
