<div>
    <%= image_tag(url_for(@dish.picture), alt: 'Foto do prato', width: 200, height: 200) if @dish.picture.attached? %>
    <p><%= t('activerecord.attributes.dish.name')%>: <%= @dish.name %> </p>
    <p><%= t('activerecord.attributes.dish.description')%>: <%= @dish.description %> </p>
    <p><%= t('activerecord.attributes.dish.calorie')%>: <%= @dish.calorie %> </p>

    <div>
        <%= link_to t(:edit), edit_establishment_dish_path(establishment_id: @dish.establishment.id, id: @dish.id) %>
        <%= button_to t(:delete), establishment_dish_path(establishment_id: @dish.establishment.id, id: @dish.id), method: :delete %>
    </div>
</div>