<div>
    <div>
        <%= link_to t(:edit), edit_establishment_dish_path(@dish) %>
        <%= button_to t(:delete), establishment_dish_path(@dish), method: :delete %>
    </div>

    <%= image_tag(url_for(@dish.picture), alt: 'Foto do prato', width: 200, height: 200) if @dish.picture.attached? %>
    <p><%= @dish.translated_name %>: <%= @dish.name %></p>
    <p><%= @dish.translated_description %>: <%= @dish.description %></p>
    <p><%= @dish.translated_calorie %>: <%= @dish.calorie %></p>
    <% if !@dish.marker.nil? %>
            <p><%= @dish.marker.description %></p>
    <% end %>
    <div>
        <p><%= t(:status) %>: <%= @dish.translated_status %></p>

        <% if @dish.active?%>
            <%= button_to 'Desativar', status_establishment_dish_path(@dish) %>
        <% else %>
            <%= button_to 'Ativar', status_establishment_dish_path(@dish) %>
        <% end %>
    </div>

</div>

<section>
    <div>
        <h3><%= t(:portions) %></h3>
        <%= link_to t(:register_portion), new_establishment_dish_portion_path(@dish) %>
    </div>
    <table class="hitorical_table">
        <thead>
            <tr>
                <th><%= t(:description) %></th>
                <th><%= t(:price) %></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @portions.each do |p| %>
                <tr>
                    <td><%= p.description %></td>
                    <td><%= format("%.2f", p.price) %></td>
                    <td><%= link_to t(:edit),  edit_establishment_dish_portion_path(@dish) %></td>
                    <% if p.historicals.any?%>
                        <td><%= link_to t(:view_historical),  establishment_dish_portion_historicals_path(@dish, p)%></td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
</section>