<div>
    <%= image_tag(url_for(@dish.picture), alt: 'Foto do prato', width: 200, height: 200) if @dish.picture.attached? %>
    <p><strong><%= Dish.human_attribute_name(:name) %>:</strong> <%= @dish.name %></p>
    <p><strong><%= Dish.human_attribute_name(:description) %>:</strong> <%= @dish.description %></p>
    <p><strong><%= Dish.human_attribute_name(:calorie) %>:</strong> <%= @dish.calorie %></p>
    <% if !@dish.marker.nil? %>
            <p><strong><%= @dish.marker.description %></strong></p>
    <% end %>
    <p><strong><%= t(:status) %>:</strong> <%= @dish.translated_status %></p>

    <div class="container_product">
        <% if @dish.active?%>
            <%= button_to 'Desativar', status_establishment_dish_path(@dish), class: 'button_horizontal' %>
        <% else %>
            <%= button_to 'Ativar', status_establishment_dish_path(@dish), class: 'button_horizontal' %>
        <% end %>

        <%= link_to t(:edit), edit_establishment_dish_path(@dish), class: 'button button_horizontal' %>
        <%= button_to t(:delete), establishment_dish_path(@dish), method: :delete, class: 'button_horizontal' %>
    </div>

</div>

<section>
    <div>
        <h3><%= t(:portions) %></h3>
        <%= link_to t(:register_portion), new_establishment_dish_portion_path(@dish) %>
    </div>
    <br>
    <table>
        <thead>
            <tr>
                <th><%= t(:description) %></th>
                <th><%= t(:price) %></th>
                <th><%= t(:edition) %></th>
                <th><%= t(:historical) %></th>
            </tr>
        </thead>
        <tbody>
            <% @portions.each do |p| %>
                <tr>
                    <td><%= p.description %></td>
                    <td><%= number_to_currency(p.price) %></td>
                    <td><%= link_to t(:edit),  edit_establishment_dish_portion_path(@dish, p) %></td>
                    <% if p.historicals.any?%>
                        <td><%= link_to t(:view_historical),  establishment_dish_portion_historicals_path(@dish, p)%></td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
</section>