<h1><%= t(:create_discount) %></h1>

<%= render 'layouts/error_list', model: @discount %>

<%= form_with model: @discount, url: establishment_discounts_path do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :discount_percentage %>
        <%= f.text_field :discount_percentage %>
    </div>
    <div>
        <%= f.label :start_date %>
        <%= f.date_field :start_date %>
    </div>
    <div>
        <%= f.label :end_date %>
        <%= f.date_field :end_date %>
    </div>
    <div>
        <%= f.label :limit %>
        <%= f.text_field :limit %>
    </div>
    <div>
        <h2><%= t(:discount_product) %></h2>
        <div>
            <button id="add_product"><%= t(:add_product) %></button>
        </div>
        <div class="content" id="select_container">
            <p class="no_content"><%= t(:no_products_added)%></p>
        </div>
    </div>

    <%= f.submit t(:save) %>
<% end %>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const addProduct = document.getElementById("add_product");
        const selectContainer = document.getElementById("select_container");
        let countSelects = 1;
        const itemsData = <%= @products.to_json.html_safe %>;
        const textContent = document.querySelector(".no_content");

        addProduct.addEventListener('click', (event)=>{
            event.preventDefault();
            textContent.style.display = 'none'
            const newSelect = document.createElement("select");
            const pratos = document.createElement("optgroup");
            const bebidas = document.createElement("optgroup");
            const button = document.createElement("button")
            const div = document.createElement("div")

            newSelect.classList.add('select_product')
            div.classList.add('select_container')
            button.innerText = 'Excluir'

            pratos.label = "<%= t(:dishes) %>";
            bebidas.label = "<%= t(:beverages) %>";
            newSelect.id = "product_" + countSelects;
            newSelect.name = `discount[select_items][select_${countSelects}]`;
            countSelects++;

            itemsData.dishes.forEach(element => {
                const option = document.createElement("option");
                option.value = element.id; 
                option.textContent = element.name;
                pratos.appendChild(option);
            });

            itemsData.beverages.forEach(element => {
                const option = document.createElement("option");
                option.value = element.id; 
                option.textContent = element.name;
                bebidas.appendChild(option);
            });

            button.addEventListener('click' , ()=> {
                div.remove()
                
                if (selectContainer.children.length == 1){
                    textContent.style.display = 'block'
                }
            })

            newSelect.appendChild(pratos);
            newSelect.appendChild(bebidas);
            div.appendChild(newSelect)
            div.appendChild(button)
            selectContainer.appendChild(div)
        })
    }); 
</script>