<h1><%= t(:edit_portion) %></h1>

<%= render 'layouts/error_list', model: @portion %>

<%= form_with model: @portion, url: params[:dish_id] ? establishment_dish_portion_path(@product) : establishment_beverage_portion_path(@product) do |f| %>
    <div>
        <%= f.label :price %>
        <%= f.number_field :price %>
    </div>
    <%= f.submit t(:save)%>
<% end %>