<h1><%= t(:register_portion) %></h1>

<%= render 'layouts/error_list', model: @portion %>

<%= form_with model: @portion, url: params[:dish_id] ? establishment_dish_portions_path(@product) : establishment_beverage_portions_path(@product) do |f| %>
    <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>
    <div>
        <%= f.label :price %>
        <%= f.number_field :price, step: :any %>
    </div>
    <%= f.submit t(:save)%>
<% end %>