<%= form_with model: [@establishment, @product, @portion] do |f| %>
    <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>
    <div>
        <%= f.label :price %>
        <%= f.text_field :price %>
    </div>
    <%= f.submit t(:save)%>
<% end %>