<h1> <%= t(:register_establishment)%> </h1>


<%= render 'layouts/error_list', model: @establishment %>

<%= form_with model: @establishment, url: establishment_path do |f| %>
    <div>
        <%= f.label :corporate_name %>
        <%= f.text_field :corporate_name %>
    </div>
    <div>
        <%= f.label :brand_name %>
        <%= f.text_field :brand_name %>
    </div>
    <div>
        <%= f.label :restration_number %>
        <%= f.text_field :restration_number %>
    </div>
    <div>
        <%= f.label :full_address %>
        <%= f.text_field :full_address %>
    </div>
    <div>
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number %>
    </div>
    <div>
        <%= f.label :email %>
        <%= f.email_field :email %>
    </div>
    <%= f.submit t(:save) %>
<% end %>