<h1><%= Establishment.model_name.human %></h1>

<div>
    <p><strong><%= Establishment.human_attribute_name(:brand_name) %>:</strong>  <%= @establishment.brand_name %></p>
    <p><strong><%= Establishment.human_attribute_name(:email) %>:</strong> <%= @establishment.email %></p>
    <p><strong><%= Establishment.human_attribute_name(:restration_number) %>:</strong> <%= @establishment.restration_number %></p>
</div>
<div>
    <% @establishment.opening_hours.each do |day| %>
        <% if day.open_hour.nil? || day.close_hour.nil? %>
            <p><strong><%= day.translated_day_of_week %>:</strong> <%= t(:closed) %></p>
        <% else %>
            <p><strong><%= day.translated_day_of_week %>:</strong> <%= day.open_hour.strftime("%H:%M") %> - <%= day.close_hour.strftime("%H:%M") %></p>
        <% end %>
    <% end %> 
</div>