<h1><%= t('activerecord.models.establishment') %></h1>

<div>
    <p><%= t('activerecord.attributes.establishment.brand_name')%>:  <%= @establishment.brand_name %></p>
    <p><%= t('activerecord.attributes.establishment.email')%>: <%= @establishment.email %></p>
    <p><%= t('activerecord.attributes.establishment.restration_number')%>: <%= @establishment.restration_number %></p>
</div>
<div>
    <% @establishment.opening_hours.each do |day| %>
        <% if day.open_hour.nil? || day.close_hour.nil? %>
            <p><%= day.translated_day_of_week %>: <%= t(:closed) %></p>
        <% else %>
            <p><%= day.translated_day_of_week %>: <%= day.open_hour.strftime("%H:%M") %> - <%= day.close_hour.strftime("%H:%M") %></p>
        <% end %>
    <% end %> 
</div>


<div>
    <%= link_to t(:beverages), establishment_beverages_path(@establishment) %>
    <%= link_to t(:dishes), establishment_dishes_path(@establishment) %>
</div>