<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Paleva" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <nav>
        <% if user_signed_in? %>
          <%= button_to t(:logout), destroy_user_session_path, method: :delete %>|

          <% if current_establishment.nil? %>
            <%= link_to t('activerecord.models.establishment'), new_establishment_path %>
          <% else %>
          
            <%= link_to t('activerecord.models.establishment'), establishment_path %> |
            <%= link_to t(:menus), establishment_menus_path %> |

            <% if current_user.type == 'Owner' %>
              <%= link_to t(:register_new_employee), new_establishment_employee_path %> |
              <%= link_to t(:employees), establishment_employees_path %>
            <% end %>

            <%= link_to t(:beverages), establishment_beverages_path %> |
            <%= link_to t(:dishes), establishment_dishes_path %>
          <% end %>
          <%= form_with url: search_establishment_path, method: :get do |f| %>
          <%= f.label :search, t(:search) %>
          <%= f.text_field :search %>
          <%= f.submit t(:search) %>
        <% end %>
        <% else %>
          <%= link_to t(:register_as_an_employee), employees_registration_path %> |
          <%= link_to t(:register), new_user_registration_path %> |
          <%= link_to t(:login), new_user_session_path %> 
        <% end %>
      </nav>
    </header>
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
